.bgcAfter::after {
    background-image: url(https://innadril.lat/template/site/innadril/images/section-decor-bottom.png);
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    height: 35px;
    z-index: 10;
}

.bgcAfterSpecial::after {
    background-image: url(https://innadril.lat/template/site/innadril/images/section-decor-bottom.png);
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    height: 35px;
    z-index: 10;
    transform: translate(300px, 0px);
}